body {
  background-color: rgb(53, 38, 38) !important;
}

.navbar {
  background-color: white;
}
.logo {
  size: 10px !important;
  display: flex;
  justify-content: left;
}
.intro {
  background-image: url("https://images.squarespace-cdn.com/content/v1/538e15c7e4b005e3dc5f3f61/1403717440644-I83DH3VYDNU8IB5VGG09/woodbathtub_02.jpg?format=1500w");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  padding: 80px;
}

h1,
h3 {
  display: flex;
  justify-content: center;
  color: white;
  text-decoration: underline;
  margin: 100px;
  padding: 60px;
}
p {
  color: white;
  font-size: 18px;
  padding: 20px;
  display: flex;
  justify-content: center;
}
.tubintro {
  border-radius: 28%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}

h4 {
  color: white;
  font-size: 16px;
  font-weight: bolder;
  text-align: center;
  padding: 28px;
}

.tubexample {
  padding: 40px;
}
